/* material-icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons { color: rgba(255, 255, 255, 1); }
.material-icons.md-inactive { color: rgba(255, 255, 255, 0.3); }

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}

body.ready {
  background: #212121;
}

.content {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 200px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition-property: background, width, height, box-shadow;
  -moz-transition-property: background, width, height, box-shadow;
  -ms-transition-property: background, width, height, box-shadow;
  -o-transition-property: background, width, height, box-shadow;
  transition-property: background, width, height, box-shadow;
  background: #303030;
  z-index: 0;
  flex-shrink: 1;
  min-height: 200px;
}

body.ready .modal {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
} 

body.ready .modal.hover,
body.ready .modal:hover {
  background: #424242;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
  z-index: 1;
}

.modal .hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal .material-icons {
    width: 48px;
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.files .file {
  display: flex;
  position: relative;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-bottom: 10px;
  background-color: #303030;
  flex-direction: row;
  text-decoration: none;
  color: white;
  outline: 0;
  height: 0;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  z-index: 0;
}

.files .file:first-child {
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  body {
    background: #303030!important;
  }

  .content {
    padding: 0!important;
  }

  .modal {
    height: 100vh;
  }

  .modal,
  .files .file {
    margin: 0!important;
    box-shadow: none!important;
  }
}

.files .file:hover {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
  background-color: #424242;
  z-index: 1;
}

.files .file.hidden {
  background-image: none!important;
}

.files .file[rendered] {
  min-height: 72px;
  max-height: 800px;
  height: auto;
}

.files .file[large] {
  max-height: none;
}


.files .file .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.files .file .background:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,.8) 0px, transparent 120px);
}

.files .file[large] .background {
  opacity: 1;
}

.files .file .status {
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.files .file .meta {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-right: 16px;
  overflow: hidden;
  height: 72px;
}

.files .file .meta .name,
.files .file .meta .info {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.files .file .meta .name {
  font-size: 20px;
}

.files .file .meta .info {
  overflow: hidden;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.files .file[state="uploading"] .info,
.files .file[state="bundling"] .info {
  color: #00B0FF;
}

.files .file[state="uploading"] .status,
.files .file[state="bundling"] .status {
  font-family: 'Roboto', sans-serif;
}

.files .file[state="expired"] .info {
  color: #FF9100;
}

.files .file[state="error"] .info {
  color: #FF1744;
}

.files .file[state="complete"] .info {
  color: #00E676;
}

.files .file .meta .info .size {
  color: #e0e0e0;
  text-transform: none;
}

.files .file .meta .info .size:after {
  content: ' · ';
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 2;
  display: flex;
  box-sizing: border-box;
  padding: 20px;
}

.confirmation {
    width: 280px;
    margin: auto;
    overflow: hidden;
    background: #212121;
}

.confirmation .title {
    font-size: 22px;
    padding: 24px 24px 20px 24px;

}

.confirmation .text {
    font-size: 16px;
    opacity: .6;
    box-sizing: border-box;
    padding: 0 24px 24px 24px;
}

.confirmation .buttons {
    display: flex;
    justify-content: flex-end;
}

.confirmation .buttons .button {
    display: flex;
    align-items: center;
    color: #03A9F4;
    padding: 0 8px;
    margin: 8px;
    cursor: pointer;
    height: 36px;
}