.material-icons {
	color: inherit;
}

::-webkit-file-upload-button {
	cursor: pointer;
}

* {
	padding: 0;
	margin: 0;
}

a {
	color: #00B0FF;
	text-decoration: none;
}

.card {
	background: #424242;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	margin-top: 16px;
}

button {
	cursor: pointer;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	margin: 8px 8px 8px 0;
	min-width: 64px;
	border-radius: 2px;
	line-height: 36px;
	font: inherit;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.54);
	text-align: center;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	background: none;
	border: none;
	outline: initial;
	box-sizing: initial;
}

button:hover,
button:focus {
	background: rgba(255, 255, 255, 0.12);
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', arial, sans-serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0 16px;
	-webkit-transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

main {
	width: 100%;
	min-height: 100%;
	max-width: 100%;
	-webkit-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-property: padding, max-width, min-height;
	-moz-transition-property: padding, max-width, min-height;
	-ms-transition-property: padding, max-width, min-height;
	-o-transition-property: padding, max-width, min-height;
	transition-property: padding, max-width, min-height;
	max-height: 100%;
	min-height: 0;
	max-width: 800px;
}

main:last-child {
	margin-bottom: 16px;
}

main>.bar {
	height: 72px;
	min-height: 72px;
	width: 100%;
	line-height: 72px;
	display: flex;
	align-items: center;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	color: rgba(255, 255, 255, 0.54);
}

main>.bar>.file-select {
	margin: 8px;
	height: 56px;
	line-height: 56px;
	position: relative;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding: 0 16px 0 0;
	flex: 1;
	z-index: 0;
}

main>.bar>.file-select>.hidden {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
}

main>.bar>.file-select>.icon {
	padding: 16px;
}

main>.bar>.file-select>.icon:before {
	content: 'add_circle';
}

main>.bar>.file-select:after {
	padding-left: 8px;
	content: 'Select files';
}

main>.bar>.encryption {
	min-width: 0;
	height: 24px;
	line-height: 1em;
	padding: 16px;
	margin: 8px;
	border-radius: 8px;
}

main>.bar>.encryption .material-icons:before {
	content: 'lock_open';
}

main>.bar>.encryption.enabled .material-icons:before {
	content: 'lock';
}

main>article {
	box-sizing: border-box;
	padding: 0 16px 16px 16px;
	color: rgba(255, 255, 255, 0.7);
}

main>article>h1 {
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	font-weight: 500;
	color: white;
}

main>article .highlight {
	color: white;
}

main>article>ul {
	margin-top: 4px;
	margin-left: 20px;
}

main>article .material-icons {
	font-size: inherit;
}

main>article .encryption {
	color: #00E676;
}

main>article .encryption.disabled {
	color: rgba(255, 255, 255, 0.54);
}

main>article code {
	display: block;
	border-radius: 8px;
	padding: 8px 16px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, .12);
	word-break: break-word;
	white-space: pre-wrap;
	tab-size: 4;
}

main>article code>.copy:before {
	content: 'content_copy';
}

.file {
	display: flex;
	flex-direction: column;
	max-height: 0;
	background-size: cover;
	background-position: center;
	transition: max-height 280ms cubic-bezier(0.4, 0, 0.2, 1), margin 280ms cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	margin-top: 0;
}

.file[rendered] {
	max-height: 124px;
	margin-top: 16px;
}

.file:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-image: var(--background);
	opacity: 0;
	transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), filter 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.file[style]:before {
	opacity: 1;
}

.file .content {
	display: flex;
	min-height: 72px;
	position: relative;
}

.file .content .icon {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 16px;
	text-align: center;
	line-height: 40px;
}

.file[state="archiving"] .content .icon:before {
	content: 'archive';
	color: #00B0FF;
}

.file[state="uploading"] .content .icon:before {
	content: 'file_upload';
	color: #00B0FF;
}

.file[state="error"] .content .icon:before {
	content: 'info_outline';
	color: #FF1744;
}

.file[state="encrypting"] .content .icon:before {
	content: 'lock';
	color: #FF9100;
}

.file[state="done"] .content .icon:before {
	content: 'check';
	color: #00E676;
}

.file.secure[state="done"] .content .icon:before {
	content: 'lock';
}

.file .content .meta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 16px;
	flex: 1;
	overflow: hidden;
}

.file .content .meta .name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file .content .meta .size {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	margin-top: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file .content .avatar {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 16px;
	opacity: 0;
	transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.file[style] .content .avatar {
	opacity: 1;
}

.file .actions {
	min-height: 52px;
	display: flex;
	position: relative;
}

.file .actions .status {
	height: 52px;
	line-height: 52px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-left: 16px;
}

.file .actions .status:first-letter {
	text-transform: capitalize;
}

.file .actions button {
	cursor: pointer;
	display: none;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	margin: 8px 8px 8px 0;
	min-width: 64px;
	border-radius: 2px;
	line-height: 36px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.54);
	text-align: center;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.file[state="error"] .actions button.primary,
.file[state="uploading"] .actions button.primary,
.file[state="done"] .actions button.secondary,
.file[state="done"] .actions button.primary {
	display: block;
}

.file[state="error"] .actions button.primary:before {
	content: 'Remove';
}

.file[state="archiving"] .actions button.primary:before,
.file[state="encrypting"] .actions button.primary,
.file[state="uploading"] .actions button.primary:before {
	content: 'Cancel';
}

.file[state="done"] .actions button.secondary:before {
	content: 'Remove';
	color: #FF1744;
}

.file[state="done"] .actions button.primary:before {
	content: 'Share';
}

.dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	display: flex;
	box-sizing: border-box;
	padding: 20px;
}

.dialog .container {
	min-width: 280px;
	max-width: 480px;
	margin: auto;
	overflow: hidden;
	background: #424242;
	border-radius: 8px;
}

.dialog .container .title {
	font-size: 22px;
	padding: 24px 24px 20px 24px;
}

.dialog .container .text {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	padding: 0 24px 24px 24px;
}

.dialog .container .buttons {
	display: flex;
	justify-content: flex-end;
}

.dialog .container .buttons .button {
	cursor: pointer;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	margin: 8px 8px 8px 0;
	min-width: 64px;
	border-radius: 2px;
	line-height: 36px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.54);
	text-align: center;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dialog .container .buttons .button:last-child {
	color: #03A9F4;
}

.dialog .container .buttons .button:hover {
	background: rgba(255, 255, 255, 0.12);
}

.share-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.share-container[open] {
	background: rgba(0, 0, 0, 0.2);
}

.share-container .share-sheet {
	max-width: 800px;
	width: 100%;
	padding-bottom: 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	transform: translateY(calc(100% + 32px));
	transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-top: auto;
	border-radius: 0;
}

.share-container[open] .share-sheet {
	transform: translateY(0px);
}

.share-container .share-sheet .title {
	height: 56px;
	line-height: 56px;
	color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 0 16px;
}

.share-container .share-sheet .extra {
	background: #303030;
	color: rgba(255, 255, 255, 0.5);
	border: 0;
	outline: 0;
	font: inherit;
	cursor: text;
}

.share-container .share-sheet .item {
	cursor: pointer;
	display: flex;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.share-container .share-sheet .item:hover {
	background: rgba(255, 255, 255, 0.12);
}

.share-container .share-sheet .item .icon {
	padding: 12px 16px;
}

.share-container .share-sheet .item .text {
	padding: 0 16px;
	line-height: 48px;
}