.material-icons {
	color: inherit;
}

::-webkit-file-upload-button {
	cursor: pointer;
}

a {
	text-decoration: none;
	-webkit-transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

a[href] {
	color: #00e676;
}

* {
	padding: 0;
	margin: 0;
}

/* components */

.switch {
	width: 36px;
	height: 14px;
	border-radius: 7px;
	background: #6d6d6d;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	margin-left: auto;
}

.switch::before {
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	top: -3px;
	background: #bdc1c6;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch.on {
	background: #00e6768a;
}

.switch.on::before {
	transform: translate3d(16px, 0, 0);
	background: #00e676;
}

#fab {
	position: absolute;
	top: -24px;
	background: #00e676;
	color: black;
	z-index: 1;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
	border-radius: 24px;
	cursor: pointer;
	overflow: hidden;
}

#fab::before {
	content: 'add';
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;

	padding: 12px;
}

#fab::after {
	content: 'Add files';
	letter-spacing: 0.046875rem;
	padding-right: 20px;
	line-height: 48px;
	font-weight: 500;
	font-size: 14px;
	float: right;
}

#fab input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	width: 0;
	height: 0;
	z-index: -1;
}

button {
	margin-left: 8px;
	min-width: 64px;
	text-align: center;
	padding: 0 16px;
	height: 36px;
	line-height: 36px;
	box-sizing: border-box;
	border-radius: 4px;
	font: inherit;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.046875rem;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
	outline: none;
}

button:focus,
button:hover {
	background: #ffffff1c;
}

.dialog {
	min-width: 280px;
	max-width: 480px;
	margin: auto;
	overflow: hidden;
	background: #313235;
	border-radius: 16px;
	z-index: 1;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dialog .title {
	font-size: 22px;
	padding: 24px 24px 20px 24px;
}

.dialog .text {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	padding: 0 24px 24px 24px;
}

.dialog .buttons {
	display: flex;
	justify-content: flex-end;
	padding: 0 12px 12px 12px;
}

.dialog .buttons .button {
	margin: 8px 8px 8px 0;
}

.dialog .buttons button:last-child {
	color: #03A9F4;
}

.dialog .buttons button:hover {
	background: rgba(255, 255, 255, 0.12);
}

.share {
	max-width: 800px;
	width: 100%;
	padding-bottom: 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	transform: translateY(calc(100% + 32px));
	transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-top: auto;
	margin-bottom: 0;
	border-radius: 0;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	background: #313235;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}

.share.open {
	transform: translateY(0px);
}

.share .title {
	height: 56px;
	line-height: 56px;
	color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 0 16px;
}

.share .extra {
	background: #202125;
	color: rgba(255, 255, 255, 0.5);
	border: 0;
	outline: 0;
	font: inherit;
	cursor: text;
}

.share .item {
	cursor: pointer;
	display: flex;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.share .item:hover {
	background: rgba(255, 255, 255, 0.12);
}

.share .item .icon {
	padding: 12px 16px;
}

.share .item .text {
	padding: 0 16px;
	line-height: 48px;
}

/* main */

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Product Sans', arial, sans-serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
}

main {
	width: 100%;
	max-width: 800px;
	min-height: 100%;
	position: relative;
	padding-bottom: 70px;
	box-sizing: border-box;
	height: fit-content;
}

main > .header {
	height: 56px;
	width: 100%;
	line-height: 56px;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	flex-shrink: 0;
	box-sizing: border-box;
	margin-bottom: 16px;
}

main .empty {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

 main .file ~ .empty {
	opacity: 0;
}

main .empty .icon {
	font-size: 56px;
	margin: 18px;
	color: #00e676;
}

main .empty span {	
	font-size: 24px;
	margin-bottom: 8px;
}

main .empty p {
	font-size: 16px;
	color: #ffffff99;
}

main .file {
	display: flex;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	background-size: cover;
	max-height: 0;
	transition-property: max-height, padding, margin-bottom, box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 280ms;
	border-radius: 16px;
	box-shadow: 0 0 0 1px #ffffff1c;
	margin: 0 16px;
}

main .file[rendered] {
	max-height: 172px;
	padding: 16px 0;
	margin-bottom: 16px;
	height: 140px;
}

main .file:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 800px 172px;
	background-position: center;
	background-image: var(--background);
	opacity: 0;
	transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
	z-index: -1;
}

main .file[style] {
	box-shadow: none;
}

main .file[style]:before {
	opacity: 1;
}

main .file .top {
	padding: 0 16px;
	display: flex;
	margin-bottom: 16px;
}

main .file .top .info {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	padding-right: 8px;
}

main .file .top .info .overline {
	font-size: 10px;
	line-height: 24px;
	color: #ffffff99;
	letter-spacing: 0.09375rem;
}

main .file .top .info .headline {
	font-size: 24px;
	line-height: 40px;
}

main .file .top .info .text {
	font-size: 14px;
	line-height: 24px;
	color: #ffffff99;
	letter-spacing: 0.015625rem;
}

main .file .top .info .overline,
main .file .top .info .headline,
main .file .top .info .text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

main .file .top .image {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	border-radius: 8px;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
}

main .file .buttons {
	display: flex;
}

main .file .buttons button {
	display: none;
	color: #00e676;
}

main .file[state="error"] .buttons button.primary,
main .file[state="uploading"] .buttons button.primary,
main .file[state="done"] .buttons button.secondary,
main .file[state="done"] .buttons button.primary {
	display: block;
}

main .file[state="error"] .buttons button.primary:before {
	content: 'Remove';
}

main .file[state="archiving"] .buttons button.primary:before,
main .file[state="encrypting"] .buttons button.primary,
main .file[state="uploading"] .buttons button.primary:before {
	content: 'Cancel';
}

main .file[state="done"] .buttons button.secondary:before {
	content: 'Remove';
	color: #FF1744;
}

main .file[state="done"] .buttons button.primary:before {
	content: 'Share';
}

/*main .file .buttons button.share {
	color: #00e676;
}

main .file .buttons button.remove {
	color: #FF1744;
}*/

main .darken {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

main .darken.open {
	background: rgba(0,0,0,0.2);
}

main .drawer {
	width: 100%;
	background: #313235;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	position: fixed;
	transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	transform: translate3d(0, calc(100% - 56px), 0);
	box-sizing: border-box;
	padding: 0 16px;
	bottom: 0;
	max-width: inherit;
}

main .drawer.open {
	transform: translate3d(0, 0, 0);
}

main .drawer .header {
	line-height: 56px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	letter-spacing: 0.009375rem;
}

main .drawer .header .icon {
	padding: 16px 0 16px 16px;
	margin-left: auto;
	cursor: pointer;
}

main .drawer .header::after {
	content: 'expand_less';
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;

	padding: 16px 0 16px 16px;
	cursor: pointer;
	margin-left: auto;
}

main .drawer.open .header::after {
	content: 'expand_more';
}

main .drawer .item {
	display: flex;
	align-items: center;
	min-height: 48px;
	width: 100%;
}

main .drawer .item[icon] {
	height: 56px;
	line-height: 56px;
}

main .drawer .item[icon]::before {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;

	content: attr(icon);
	float: left;
	display: block;
	padding: 16px 16px 16px 0;
	color: #00e676;
}

main .drawer .item.toggle {
	cursor: pointer;
}

main .drawer .curl {
	margin: 16px;
	padding: 16px 14px;
	border: 1px solid #ffffff1e;
	border-radius: 8px;
	color: inherit;
	font-size: inherit;
	font-family: monospace;
	background: none;
	width: 100%;
	box-sizing: border-box;
}