html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #303030;
    color: white;
    box-sizing: border-box;
    padding: 24px;
}

.suggest-text {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 48px;
    left: 0;
    right: 0;
    top: 0;
}

.suggest .suggest-text {
    display: flex;
}

.status {
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 100%;
}

.status .text {
    text-align: center;
    min-width: 192px;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    box-sizing: border-box;
    padding: 13px 0;
    margin: 8px;
    text-decoration: none;
    color: white;
    transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.done .status .text {
    border-radius: 8px;
    box-sizing: border-box;
    background: #2196F3;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.done .status .text:hover{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.status .text.download {
    box-sizing: border-box;
    z-index: 2;
    display: none;
    background: #424242;
}

.done .status .text.download {
    display: flex;
}

.status .progress {
    width: 100%;
    height: 5px;
    background: #424242;
    position: absolute;
    bottom: 0;
    left: 0;
}

.done .status .progress {
    display: none;
}

.error .status .progress .bar {
    width: 100%!important;
}

.status .progress .bar {
    background: #2196F3;
    height: 100%;
    width: 0;
}

.error .status .progress .bar {
    background: #F44336;
}

.status .info {
    font-size: 20px;
    color: white;
    white-space: nowrap;
    display: flex;
    margin: 0 24px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .info .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.status .info .size {
    opacity: .66;
}